This file is part of PJBDD,
a framework for decision diagrams:
https://gitlab.com/sosy-lab/software/paralleljbdd

{% for copyright_line in copyright_lines %}
{{ copyright_line }}
{% endfor %}

{% for expression in spdx_expressions %}
SPDX-License-Identifier: {{ expression }}
{% endfor %}
